@import "tailwindcss";

@theme {
  --font-Jakarta: 'Plus Jakarta Sans', sans-serif;

  --color-lime: oklch(0.8596 0.177 110.61);
  --color-red: oklch(0.5786 0.2022 29.07);

  --color-white: oklch(1 0 0);
  --color-slate100: oklch(0.9553 0.0219 232.92)
  --color-slate300: oklch(0.784 0.0503 235.57)
  --color-slate500: oklch(0.6437 0.054 230.27)
  --color-slate700: oklch(0.5201 0.045563 230.3733)
  --color-slate900: oklch(0.2907 0.0455 236.65)
}