@import "tailwindcss";

@theme {
  --font-Jakarta: "Plus Jakarta Sans", sans-serif;

  --color-lime: hsl(61, 70%, 52%);
  --color-red: hsl(4, 69%, 50%);

  --color-white: hsl(0, 0%, 100%);
  --color-slate100: hsl(202, 86%, 94%);
  --color-slate300: hsl(203, 41%, 72%);
  --color-slate500: hsl(200, 26%, 54%);
  --color-slate700: hsl(200, 24%, 40%);
  --color-slate900: hsl(202, 55%, 16%);
}

